@import "tailwindcss";

:root {
  --secondary: #f09837;
  --darkBg: #131424;
}

@theme {
  --color-secondary: var(--secondary);
  --color-darkBg: "#131424";
  --color-gradient-cover: "linear-gradient(90.21deg, rgba(70, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%)";
}

html,
body {
  color: #fff;
  background-color: #1f1934;
}

main {
  background-color: #393a47;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
